<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.section01.xml.DynamicSqlMapper">

  <!-- CDATA 태그
  - 내부 내용을 해석하지 말고 단순 문자열로 취급하는 태그
    (내부 <,> 문자를 태그가 아닌 '<' , '>' 글자 그대로 해석)
  -->

  <!-- if 동적 쿼리 태그를 이용하여 SQL 조합하기   -->
  <!-- 전달 받은 금액 범위의 모든 메뉴 조회 -->
  <select id="selectMenuByPrice" resultType="MenuDTO">
    SELECT
    menu_code
    , menu_name
    , menu_price
    , category_code
    , orderable_status
    FROM
    tbl_menu
    WHERE
    orderable_status = 'Y'

    <if test="price gte 0 and price lt 10000">
      <![CDATA[
        AND menu_price < #{price}
      ]]>
    </if>

    <if test="price gt 10000 and price lte 20000">
      AND menu_price BETWEEN 10000 AND #{price}
    </if>

    <if test="price gt 20000 and price lte 30000">
      AND menu_price BETWEEN 20000 AND #{price}
    </if>

    <if test="price gt 30000">
      AND menu_price BETWEEN 30000 AND #{price}
    </if>

    ORDER BY menu_code ASC
  </select>


  <select id="searchMenu" resultType="MenuDTO">
    SELECT
    menu_code
    , menu_name
    , menu_price
    , category_code
    , orderable_status
    FROM
    tbl_menu
    <if test="condition == 'category'">
      JOIN tbl_category USING (category_code)
    </if>

    WHERE orderable_status = 'Y'

    <if test="condition == 'category'">
      AND category_name LIKE CONCAT('%', #{value}, '%')
    </if>

    <if test="condition == 'name'">
      AND menu_name LIKE CONCAT('%', #{value}, '%')
    </if>

    ORDER BY menu_code ASC

  </select>


  <!-- choose, when, otherwise 동적 쿼리 사용
    == if ~ else if ~ else와 유사한 구문
  -->
  <select id="searchMenuBySupCategory" resultType="MenuDTO">
    SELECT
    menu_code
    , menu_name
    , menu_price
    , category_code
    , orderable_status
    FROM tbl_menu
    WHERE orderable_status = 'Y'
    <choose>
      <when test="value == '식사'">
        AND category_code IN (4, 5, 6, 7)
      </when>
      <when test="value == '음료'">
        AND category_code IN (8, 9, 10)
      </when>
      <otherwise>
        AND category_code IN (11, 12)
      </otherwise>
    </choose>
    ORDER BY menu_code

  </select>


  <!--  foreach 동적 쿼리 사용하기 -->
  <select id="searchMenuByRandomMenuCode" resultType="MenuDTO">
    SELECT
      menu_code
      , menu_name
      , menu_price
      , category_code
      , orderable_status
    FROM
     tbl_menu

    WHERE menu_code IN
    <foreach
        collection = "randomMenuCodeList"
        item = "menuCode"
        open = "("
        close= ")"
        separator=",">
      #{menuCode}
    </foreach>

  </select>


  <!-- trim 동적 쿼리 사용하기-->
  <select id="searchMenuByNameOrCategory" resultType="MenuDTO">
    SELECT
      menu_code
      , menu_name
      , menu_price
      , category_code
      , orderable_status
    FROM
      tbl_menu
    <!--
    문제점 : categoryValue가 없고 nameValue만 있으면 AND로 시작하는 문제 발생
    <if test="categoryValue != null">
      WHERE category_code = #{categoryValue}
    </if>

    <if test="nameValue != null">
      AND menu_name LIKE CONCAT('%', #{nameValue}, '%')
    </if>
    -->

    <!-- 해결 방법 1 : trim 태그 -->
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="categoryValue != null">
        category_code = #{categoryValue}
      </if>

      <if test="nameValue != null">
        AND menu_name LIKE CONCAT('%', #{nameValue}, '%')
      </if>
    </trim>

    <!-- 해결 방법 2 : where 태그 -->
    <!--<where>
      <if test="categoryValue != null">
        category_code = #{categoryValue}
      </if>

      <if test="nameValue != null">
        AND menu_name LIKE CONCAT('%', #{nameValue}, '%')
      </if>
    </where>-->

  </select>


  <!-- set 동적 쿼리 사용 하기-->
  <update id="updateMenu">
    UPDATE tbl_menu
    <set>
      <if test="menuName != null and menuName != ''">
        menu_name = #{menuName} ,
      </if>

      <if test="categoryCode != null and categoryCode != 0">
        category_code = #{categoryCode} ,
      </if>

      <if test="orderableStatus != null and orderableStatus != ''">
        orderable_status = #{orderableStatus}
      </if>
    </set>

    WHERE menu_code = #{menuCode}

  </update>


</mapper>